@import "tailwindcss";

.grid-layout-dashboard {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  min-height: 100vh;
}